
.footer {
    &__text {
        display: flex;
        justify-content: space-between;
        padding: 0 6rem;

        @include respond( phone ) {
            flex-direction: column;
            justify-content: flex-start;
        }
        &-1 {
            z-index: 2;
        }

        &-2 {
            text-align: end;
            @include respond( phone ) {
                text-align: start;
                z-index: 2;
            }
        }

        &-hover:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}