.icon {
	display: inline-block;
	color: #fff;
    width: 1em;
	height: 1em;
    fill: currentColor;
    font-size: 2.5rem;

    margin-right: 1.5rem;
}


.icon-2 {
    display: inline-block;
	color: #0a1c2d;
    width: 1em;
	height: 1em;
    fill: currentColor;
    font-size: 2.5rem;
}

.icon-2:hover {
    color: #07c972;
    cursor: pointer;
}