//Color
$color-primary: #0a1c2d;
$color-secondary: #07c972;
$color-secondary-light: #2ddb8d;
$color-background: #f6f9fb;
$color-white: #fff;
$color-yellow:  #fee27f;

//Responsive

$bp-largest: 75em;  //1200px
$bp-large: 62.5em;  
$bp-medium: 50em;   //800px

